<div class="container-fluid">
  <p class="h3 p-3">{{ naveDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ naveDetail.imagen }}"
          alt="{{ naveDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>

        <dt>Fabricante</dt>
        <dd>{{ naveDetail.empresa_fabricacion }}</dd>
        <hr />
        <dt>Raza</dt>
        <dd>{{ naveDetail.raza_origen }}</dd>
        <dt>Costo</dt>
        <dd>{{ naveDetail.costo }}</dd>
        <dt>Bando</dt>
        <dd>{{ naveDetail.bando }}</dd>
        <dt class="bold">Description</dt>
        <dd>{{ naveDetail.descripcion }}</dd>
        <hr />
      </dl>
    </div>
  </div>
 </div>
